body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px; /* Add margin for separation from the footer */
}

#display {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the element horizontally */
}

footer {
    background-color: #f0f0f0; /* Add your desired background color */
    text-align: center;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

button {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    margin: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#equal_button {
    background-color: #2ecc71;
}

#equal_button:hover {
    background-color: #27ae60;
}

#clear_button {
    background-color: #e74c3c;
}

#clear_button:hover {
    background-color: #c0392b;
}

p a {
    text-decoration: none; /* Remove underline */
    color: #3498db; 
    font-weight: bold; 
    font-family: 'Arial', sans-serif; 
}

p a:hover {
    color: #2980b9; /* Link color on hover */
}